@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.location {
  &__image-mobile {
    position: relative;
  }

  &__button {
    position: absolute;
    top: 0;
    @include breakpoint(tablet) {
      left: 5%;
    }
    @include breakpoint(desktop) {
      left: 11%;
    }
  }

  &__details {
    background-color: $black;
    padding: 2.1rem 1rem 3rem 1rem;

    .container-full {
      @include breakpoint(tablet) {
        display: flex;
        padding: 1rem;
        .ourLocation {
          max-width: 30%;
          padding: 2rem;
        }
        .postcode-section {
          padding: 2rem 5rem;
        }
      }
    }

    &__title {
      font-size: 60px;
      font-weight: 900;
      line-height: 55px;
      max-width: 20ch;
      text-align: left;
      color: white;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      font-family: $secondary-font;
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 1.8;
      color: $orange;
      max-width: 45ch;
      text-align: left;
      margin-bottom: 1.2rem;
    }

    &__postcode {
      font-family: $secondary-font;
      font-size: 1.2rem;
      line-height: 1.8;
      color: white;
      max-width: 45ch;
      text-align: left;
      margin-bottom: 2rem;
    }

    &__text {
      font-family: $secondary-font;
      font-size: 1.2rem;
      line-height: 1.8;
      color: white;
      max-width: 45ch;
      text-align: left;
    }
  }
}

// footer

.footer {
  background-color: $orange;
  @include breakpoint(tablet) {
    display: flex;
  }
  h1,
  h2,
  p {
    color: $black;
  }

  .footer__media a img {
    filter: brightness(0) saturate(100%) invert(0%);
  }
}

// Responsive images mixin

.location__image-mobile {
  @include responsive-image(block, block, none);
}
.location__image-long {
  @include responsive-image(none, none, none);
}
.location__image-desktop {
  @include responsive-image(none, none, block);
}
