@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.location {
  &__image img {
    width: 100%;
    position: relative;
  }

  &__pin img {
    position: absolute;
    top: 270px;
    left: 173px;
  }

  &__button {
    position: absolute;
    top: 0;
  }

  &__details {
    background-color: $black;
    padding: 2.1rem 1rem 3rem 1rem;

    &__title {
      font-size: 60px;
      font-weight: 900;
      line-height: 55px;
      max-width: 20ch;
      text-align: left;
      color: white;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      font-family: $secondary-font;
      font-size: 1.5rem;
      text-transform: uppercase;
      line-height: 1.8;
      color: $orange;
      max-width: 45ch;
      text-align: left;
      margin-bottom: 1.2rem;
    }

    &__postcode {
      font-family: $secondary-font;
      font-size: 1.2rem;
      line-height: 1.8;
      color: white;
      max-width: 45ch;
      text-align: left;
      margin-bottom: 2rem;
    }

    &__text {
      font-family: $secondary-font;
      font-size: 1.2rem;
      line-height: 1.8;
      color: white;
      max-width: 45ch;
      text-align: left;
    }
  }
}

.footer--location {
  background-color: $orange;
  padding: 2rem 1rem 3rem 1rem;
  margin: 0;

  h1,
  h2,
  p {
    color: $black;
  }

  .footer__media a img {
    filter: brightness(0) saturate(100%) invert(0%);
  }
}
