@use "variables" as *;

@mixin breakpoint($bp) {
  @if $bp == mobile {
    @media (min-width: $bp-mobile) {
      @content;
    }
  }

  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button($bg-color: $black, $bg2-color: $orange) {
  display: inline-flex;
  text-decoration: none;

  .hero__button-text {
    font-family: $primary-font;
    background-color: $bg-color;
    line-height: 1;
    color: white;
    padding: 1.2rem 2rem;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 3.64px;
  }

  .hero__button-icon {
    color: white;
    padding: 1rem 1.3rem;
    background-color: $bg2-color;
    display: inline-flex;
  }

  &:hover {
    .hero__button-text {
      background-color: $bg2-color;
      color: $bg-color;
    }

    .hero__button-icon {
      background-color: $bg-color;
      color: $bg2-color;
    }
  }
}
