// Fonts //

$primary-font: "Big Shoulders", sans-serif;
$secondary-font: "Outfit Light", sans-serif;

// Colors //
$orange: #d5966c;
$black: #151515;
$grey: #444444;

// Breakpoints //
$bp-mobile: 350px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
