@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-full {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
