@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-full {
  @include breakpoint(desktop) {
    max-width: 920px;
    margin-left: 0;
    margin-right: 0;
  }
}
