@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.footer {
  background-color: $black;
  padding: 50px 30px 40px 30px;

  &__title {
    margin-bottom: 32px;
    font-size: 22px;
    max-width: 20ch;
    text-align: left;
    color: white;
    line-height: 1.3rem;
  }

  &__subtitle {
    font-family: $secondary-font;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: white;
    max-width: 45ch;
    text-align: left;
  }

  &__media {
    display: flex;
    align-items: stretch;
    gap: 1rem;

    a:hover img {
      filter: brightness(0) saturate(100%) invert(42%) sepia(93%)
        saturate(1352%) hue-rotate(345deg) brightness(119%) contrast(119%);
    }
  }
}
