@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  &__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    max-width: 20ch;
    text-align: left;
  }

  &__subtitle {
    font-family: $secondary-font;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: $grey;
    max-width: 45ch;
    text-align: left;
  }
}

.hero__footer {
  margin-top: 8rem;
  background-color: $black;
  padding: 2rem 1rem 3rem 1rem;
  margin: 0;

  h1,
  h2,
  p {
    color: white;
  }

  // &__media a img {
  //   filter: brightness(0) saturate(100%) invert(0%);
  // }
}
