@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  &__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    max-width: 20ch;
    text-align: left;
  }

  &__subtitle {
    font-family: $secondary-font;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: $grey;
    max-width: 45ch;
    text-align: left;
  }
}
