@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  &__content_img {
    width: 100%;
  }

  &__content__text {
    margin-left: 1.2rem;
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;
    position: relative;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__subtitle {
    font-family: $secondary-font;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: $grey;
    max-width: 45ch;
    text-align: left;
    @include breakpoint(desktop) {
      margin-left: 3rem;
      margin-right: 4rem;
    }
  }

  &__content__img-mobile {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__content__img-tablet {
    @include breakpoint(mobile) {
      display: none;
    }
  }
}

.container-full {
  @include breakpoint(tablet) {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .hero__content__img-tablet {
    @include breakpoint(tablet) {
      display: block;
      width: 35rem;
    }
    @include breakpoint(desktop) {
      width: 28rem;
    }
  }
}

.hero__content {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: start;
  }
}

.hero__content__text {
  @include breakpoint(tablet) {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    right: 0;
    left: 500px;
  }
  @include breakpoint(desktop) {
    left: 65%;
  }
}

.hero__footer {
  margin-top: 8rem;
  background-color: $black;
  padding: 3rem 2rem 3rem 2rem;
  margin: 0;

  h1,
  h2,
  p {
    color: white;
  }
}

// desktop

.desktop_container {
  display: none;
  margin: 0;
  width: 100%;
  max-width: 100%;

  @include breakpoint(desktop) {
    display: block;
    width: 38%;
    background-color: $black;

    .hero__title--desktop {
      position: absolute;
      background-color: transparent;
      color: white;
      text-align: left;
      font-size: 90px;
      line-height: 5.3rem;
      top: 30%;
      left: 10%;
    }
  }
}

.hero__button {
  @include breakpoint(desktop) {
    position: absolute;
    top: 120%;
    left: 10%;
  }
}
